<h1>Category</h1>

<ul>
    <% if !@products.empty? %>
        <% @products.each do |prod| %>
            <li>
                <%= prod.description %>
            </li>
        <% end %>
    <% else %>
        <h3>There are no products available for this category</h3>
    <% end %>
</ul>