<h2>Search for Products</h2>

<%= form_tag results_path, method: :get do |f| %>
  <%= text_field_tag :q, params[:search], placeholder: "Search for Products" %>
  <%= select_tag 'category', options_for_select(Category.all.map{|el| [el.name, el.id]}) %>
  <%= submit_tag 'Search' %>
<% end %>