<h1>Our Contact Information</h1>


<div id="col2">
	<h2>Contact Information</h2>
	<h3>Address</h3>
	<p>
		120 Higgins Ave, R3B0B4<br />
		Winnipeg, Manitoba, Canada
	</p>
	<h3>Phone Number</h3>
	<p>204-947-2865</p>
	
	<h3>Toll Free</h3>
	<p>1-800-870-6346</p>
	
	<h3>Gift Cards</h3>
	<p>Unsure what to purchase?<br/>We carry gift cards in all denominations.</p>
</div>

<h3>Disclaimer</h3>
<p>This content was copied from the Eliminator RC website.</p>