<h1>See our products</h1>

<ul>
    <% @products.each do |prod| %>
        <li>
            Veiw the 
            <%= link_to prod.description, prod %>
            page.
        </li>
    <% end %>
</ul>
